#HeaderControlPanel {
    margin-top: 60px;
}
#HeaderControlPanel div div {
    color: #62A2F3;
    font: 300% tahoma;
    letter-spacing: 5px;
}
#ContentControlPanel {
    margin-top: 5px;
    min-height: 600px;
}
#NewArticle {
    resize:none;
}
#ForSub {
    margin-left: 20px;
}
#ContentControlPanel h3 {
    color: #62A2F3;
    font: 180% tahoma;
}
#New-post label {
    color: #A9A9A9;
}
.PostName {
    text-decoration: none;
}
.PostName:hover {
    text-decoration: none;
}
#ControlPageAlert {
    margin-top: 60px;
    min-height: 700px;
    text-align: center;
}
.Image {
    margin: auto;
}
.addArticle {
    font-size: 16px;
}