{% extends 'layout.html' %}

{% block menu %}
<div class="container">
    <div class="row">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                        <span class="sr-only">Открыть навигацию</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Блог</a>
                </div>
                <div class="collapse navbar-collapse" id="responsive-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Главная</a></li>
                        <li><a href="https://github.com/pers1307/Blog_v_2.0"><i class="fa fa-github fa-lg"></i> Посмотреть код на GitHub</a></li>
                        <li><a href="#footer">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{%include forContent %}
{% endblock %}

{% block footer %}
<div id="footer">
    <p>&copy; Дизайн - собственность Перескокова Юрия</p>
    <p>&copy; CMS - собственность Перескокова Юрия</p>
    <p>Почта: hunterofwallstreet@mail.ru</p>
</div>
{% endblock %}