<form method='post' enctype='multipart/form-data' id="Form">
    <p id="PanelForEnter">
    <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <input class="form-control" type="text" placeholder="Логин" name='login' id="Login">
    </div>

    <div id="inputPassword" class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input class="form-control" type="password" placeholder="Пароль" name='password' id="Password">
    </div>
    </p>

    <p id="Enter">
        <button id='Submit' type='submit' class="btn btn-primary"><i class="fa fa-cog fa-spin"></i> Вход </button>
    </p>
</form>